* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;

}

header,
main,
.footer {
    max-width: 1200px;
    margin: 0 auto;
}

/* body {
    max-width: 1200px;
    margin: 0 auto;
} */

/* main,
header {
    margin: 0 50px;
} */

nav {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    /* width: 50%; */
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-aongcor {
    /* width: 50%; */
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-aongcor a {
    text-decoration: none;
    color: #424247;
    font-size: 15px;
    font-weight: 600;
}

span {
    color: #FF5400
}

.nav-title img {
    width: 35px;
    object-fit: cover;

}

.header {
    min-height: 500px;
    background-image: url('./Images/Group13.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-content {
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%);
    border-radius: 10px;
}

.header-item {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;


}

.button-div {
    display: flex;
    gap: 20px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    background-size: cover;
}

.button-div input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    outline: none;
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;

}

.header-item h1 {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 800;
    line-height: 80px;
}

.header-item p {
    color: rgb(255, 255, 255);
}

.common-paragraph {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 20px 0;
}

header .fa-solid {
    display: none;

}

.Popular-Tours-content {
    min-height: 350px;
    margin-top: 70px;
    display: flex;
    gap: 50px;
    align-items: center;

}

.Popular-Tours-content .text {
    width: 50%;
}

.Popular-Tours-content .img {
    width: 50%;
}

.Popular-Tours-content .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Popular-Tours-content .text h1,
.destination h1 {
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;

}

.common-btn {
    font-size: 20px;
    font: 800;
    color: white;
    border-radius: 8px;
    padding: 10px 30px;
    background: rgb(255, 84, 0);
    outline: none;
    border: none;
    cursor: pointer;
}

.list-item {
    padding-left: 20px;
}

.destination {
    text-align: center;
    margin: 70px 0;
}

.place-1 {
    grid-area: place-1;
    position: relative;
}

.place-2 {
    grid-area: place-2;
    position: relative;
}

.place-3 {
    grid-area: place-3;
    position: relative;
}

.place-4 {
    grid-area: place-4;
    position: relative;
}

.place-5 {
    grid-area: place-5;
    position: relative;
}

.place-6 {
    grid-area: place-6;
    position: relative;
}

.place-7 {
    grid-area: place-7;
    position: relative;
}

.places {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "place-1 place-1 place-2 place-2"
        "place-3 place-4 place-4 place-5"
        "place-6 place-7 place-7 place-7"
    ;

}

.places img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 10px;
}

.places h1 {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 30%;
    color: white;
    text-align: center;
    font-size: 25px;
}

.place-4 h1 {
    width: 200px;
}

.features {
    margin: 20px 0;
    height: auto;

}

.features-description {
    text-align: center;
}

.card-1 {
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 12px;
    background: rgba(251, 181, 99, 0.05);
}

.card-2 {
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}

.card-3 {
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
}

.features-card img {
    width: 64px;
    height: 64px;
    margin-bottom: 25px;
}

.features-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-1,
.card-2,
.card-3 {
    flex-basis: 500px;
    /* height: 280px; */
    padding: 32px;
}

.discount {
    height: 500px;
    background-image: url('./Images/Group39.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 56px;
    margin-bottom: 20px;

}

.discount-content {
    border: 2px solid #FF5400;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 52px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
}

.discount-content .fonts h5 {
    color: #FF5400;
    font-size: 16px;
}

.discount-content .fonts {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 16px;
    gap: 20px;
}

.discount-content .fa-solid {
    font-size: 20px;
    color: #FF5400;
}

.discount-content h2 {
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    margin: 18px 0;
}

.discount-content h4 {
    color: rgb(255, 84, 0);
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    margin: 20px 0;
}

.demo {
    display: flex;
    margin: 80px 0;
    gap: 25px;
    align-items: center;

}

.demo-text {
    width: 50%;

}

.demo-video {
    width: 50%;
    /* min-height: 400px; */
    position: relative;
}

video {
    height: 100%;
    border-radius: 10px;
}

.demo-video h4 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 30%;
}

.demo-text h1 {
    line-height: 40px;
}

.demo-text button {
    margin-top: 20px;
}

.demo-text li {
    margin-top: 20px;
}

.newsletter {
    display: flex;
    justify-content: space-between;
    /* height: 420px; */
    gap: 25px;
    align-items: center;
}

.newsletter-content {
    display: flex;
    flex-direction: column;
    width: 45%;
    /* height: 420px; */
    border: 1px solid rgb(255, 84, 0);
    border-radius: 8px;
    padding: 30px;
}

.newsletter-img {
    width: 55%;
    position: relative;
    height: 450px;
}

.newsletter-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

hr {
    border: 1px solid rgba(19, 19, 24, 0.1);
    margin: 25px;
}

.newsletter-content input {
    margin-top: 20px;
    /* width: 380px; */
    height: 50px;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(31, 31, 39, 0.3);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.newsletter-content button {
    margin-top: 20px;
    /* height: 45px; */
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    text-align: center;
    padding: 15px 0;
    outline: none;
    border: none;
}

.newsletter-content h1 {
    margin: 20px 0;
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    line-height: 15px;
}

.newsletter-img .card {
    border-radius: 16px;
    /* width: 324px; */
    /* height: 100px; */
    width: 40%;
    height: 20%;
    background: rgb(255, 84, 0);
    color: white;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transform: rotate(-19.63deg);
    top: 70%;
    right: 1%;
}

.newsletter-content p {
    margin: 15px 0;
}

footer {
    background: rgba(5, 5, 241, 0.05);
    margin-top: 30px;

}

.footer {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


}

.footer-title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.footer-angcor {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-angcor a {
    font-size: 25px;
    color: black;
}